<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td>{{i+1}}</td>
            <td class="img">
                <img class= "animate__bounceIn" [src]="pais.flags.png">
            </td>
            <td>{{pais.capital}} , {{pais.name.common}}</td>
            <td>{{pais.population}}</td>
            <td>
                <a href="/pais/cri">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>